<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    {% load static %}
	<link rel="stylesheet" href="{% static 'store\style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

<div id="navbar">
    <ol id="navbar-home-list">
        <li><a href="/">Home</a></li>
        <li><a href="/info">Info</a></li>
        <!-- <li id="navbar-category-block">
            <a href="/">Categories</a>
            <ol id="navbar-categories">
                {% for category in categories %}
                <li><a href="/{{ category }}">{{ category }}</a></li>
                {% endfor %}
            </ol>
        </li> -->
    </ol>

    <ol id="navbar-account-list">
    {% if user.is_authenticated %}
        <li><a href="/account">Account</a>
            <ul>
                <li><a href="/accounts/logout">Log out</a></li>
                <li><a href="/accounts/password_reset">Reset Password</a></li>
                <li><a href="/add_product">Add product</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="/account">Account</a>
            <ul>
                <li><a href="/accounts/login">Login</a></li>
                <li><a href="/accounts/password_reset">Reset Password</a></li>
            </ul>
        </li>
    {% endif %}
    </ol>
</div>

<div id="content">
    {% block content %}
        replace me
    {% endblock %}
</div>


<div id="footer">
    Shop
</div>
</body>
</html>