body
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(186, 194, 199, 0.9);
}

#navbar
{
    height: 58px;
}

#categories
{
    list-style-type: none;
}

#categories li a
{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#categories li a:hover
{
    color: #9b9aff;
}

ol
{
    padding: 0;
    height: 58px;
    background-color: #162925;
    width: 100%;
    margin: 0;
    list-style-type: none;
}

ol li a
{
    float: left;
    padding: 10px;
    text-decoration: none;
    color: rgba(232, 231, 208, 0.79);
    font-size: 25px;
}

ol li a:hover
{
    background-color: rgba(0, 0, 0, 0.29);
}

#account a
{
    float: right;
    color: white;
}

#account a ol li
{
    display: none;
}

#leftmenu
{
    height: 30em;
    width: 10%;
    background-color: #223834;
    float: left;
    border: 2px solid black;
}

.products
{
    padding: 10px;
    float: left;
    font-size: 12px;
    text-decoration: none;
    color: #223834;
    width: 140px;
    height: 200px;
    display: block;
}

.products:hover
{
    background-color: rgba(163, 170, 175, 0.9);
}

.img_view
{
    margin-top: 1em;
}

input
{
    background-color: #61b2b4;
    border: #30a2b4 2px solid;
    border-radius: 5px;
    color:white;
}
textarea
{
    margin-top: 0.3em;
    background-color: #61b2b4;
    border: #30a2b4 2px solid;
    border-radius: 5px;
    color:white;
}

#file
{
	position: relative;
    overflow: hidden;
	width: 21.75em;
    height: 21.75em;
	margin: 4px;
	text-align: center;
	border-radius: 3px;
}

#file:hover
{
    border: #162925 solid 1px;
}

#file input[type="file"] {
    display: none;
}

.smallfile
{
	position: relative;
    overflow: hidden;
	width: 4.85em;
	text-align: center;
	border-radius: 3px;
    float: left;
    margin: 5px;
}

.smallfile input[type="file"] {
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
    cursor: pointer;
    opacity: 0;
}

#crimg
{
    float: left;
    height: 29em;
    width: 24em;
    margin-left: 30%;
}

.uploadPreview
{
    float: left;
}

.smallfile:hover
{
    border: #162925 solid 1px;
}

.img_view_box
{
    width: 23em;
    height: 29em;
    float: left;
    margin-left: 20em;
    margin-top: 2em;
}

.big_img_view
{
    width: 23em;
    height: 23em;
}

.small_img_view
{
    width: 5.55em;
    height: 5.55em;
}

.description
{
    margin-top: 2em;
    float: left;
    margin-left: 3em;
}