{% extends 'store/base.html' %}

{% block content %}
<div id="leftmenu">
<ul id="categories">
    {% for category in categories %}
        <li><a href="/{{ category }}">{{ category }}</a></li>
    {% endfor %}
</ul>
</div>



    {% for product in products %}
        <a class="products" align="center" href="/products/{{ product.id }}">
            <img src="{{ product.images.all.first }}" height="100px" width="120px">
            <h2>{{ product.title }}</h2>
            <h2>{{ product.price }} $</h2>
        </a>
    {% endfor %}

{% endblock content %}