{% extends 'store/base.html' %}
{% block content %}
    <div align="center">
    <div class="img_view_box">
        <img id="big_img_view" class="big_img_view" height="200px" width="250px" onclick="slider();" src={{ product.images.all.0 }}>
        <img class="small_img_view" height="200px" width="250px" alt="" onclick="slider();" src={{ product.images.all.1 }}>
        <img class="small_img_view" height="200px" width="250px" alt="" onclick="slider();" src={{ product.images.all.2 }}>
        <img class="small_img_view" height="200px" width="250px" alt="" onclick="slider();" src={{ product.images.all.3 }}>
        <img class="small_img_view" height="200px" width="250px" alt="" onclick="slider();" src={{ product.images.all.4 }}>
    </div>

    <div class="description">
        <h1>{{ product.title }}</h1>
        <p>{{ product.description }}</p>
        <h2>{{ product.price }} $</h2>
        <p>seller: {{ product.seller }}</p>
    </div>

<script>
    var item = "";
    document.addEventListener('click', (e) => {
        item = document.getElementById(e.target.id).src;
    })

    function slider()
    {
        let bg_div = document.createElement("DIV");
        bg_div.style.position = "absolute";
        bg_div.style.width = 100+"%";
        bg_div.style.height = 100+"%";
        bg_div.id = "bg_div";
        bg_div.style.backgroundColor = "rgba(172,183,187,0.6)";
        document.body.appendChild(bg_div);
        var img_slide = item;
        bg_div.insertAdjacentHTML( 'afterbegin', '<img style="margin-left: 27em;" height="500em" width="500em" src='+img_slide+'></img>');
        bg_div.insertAdjacentHTML( 'afterbegin', '<div style="float: right; margin-right: 2em; position:absolute; height:100%; width:100%;" onclick="bg_div.remove();"></div>');
    }
</script>
{% endblock %}